configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark"; /* Varsa bu ikon setini kullanır */
    font: "JetBrains Mono Nerd Font 11";
}

@theme "~/.config/rofi/themes/modern-black.rasi"


window {
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px;
    border-color: #000000; 
    border-radius: 0px;
}

mainbox {
    background-color: transparent;

}
